@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #000000;
  font-weight: 400;
  line-height: 21px;
  background-color: #f2f2f2;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* див на весь body */
.wrapper {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
/* Pages */

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 345px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 290px;
  margin-left: auto;
}
.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 17px;
}

.logo {
  display: block;
  margin: 0 auto;
}
.page-header {
}
.header-logo {
  width: 140px;
  margin-right: 47px;
}
.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
.navigation-search {
  position: relative;
  display: block;
  padding: 20px 17px;
  padding-right: 23px;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
.navigation-like {
  display: block;
  position: relative;
  padding: 20px 17px;
  padding-right: 18px;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
.navigation-here {
  display: block;
  width: 160px;
  padding: 8px 15px;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background: #756257;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  margin: 13px 23px 13px 0px;
}
.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}
.main-index {
  flex-grow: 1;
}

.tourist-town {
  background-image: url("../images/backgrounds/backhround-header.jpg");
  background-size: 100% auto;
  padding-top: 51px;
  padding-bottom: 83px;
  background-repeat: no-repeat;
  flex-grow: 1;
}
.main-inner {
}
.services {
  color: #333333;
  text-align: center;
  font-style: normal;
  margin: 0;
  padding: 0;
}
/* Планирую использовать под высоту h и p */
.sedona {
  padding-top: 63px;
  padding-bottom: 80px;
  background-color: #ffffff;
}
.services-detail-item {
  list-style-type: none;
  width: 400px;
  padding-top: 184px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 79px;
}

.services h2 {
  width: 720px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px auto 31px auto;
}

.advantages-description {
  width: 720px;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin: 0px auto 0px auto;
}

/* Настоящий городок и мост дьявола*/
.services-item {
  list-style-type: none;
}
.services-item-three {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 98px;
  padding-bottom: 108px;
  margin-bottom: 0px;
}
.wrapper-item .services-name {
  display: block;
}
.wrapper-item .services-description {
  display: block;
}
.services-item-blue {
  display: flex;
  justify-content: space-between;
  background-color: #83b3d3;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* h3 blue */
.services-item-blue .services-title {
  margin: 0 auto 30px;
  text-align: center;
}
.services-item .services-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

/* span blue */
.services-item-blue .services-name {
  text-transform: uppercase;
  margin: 0 auto 30px;
  width: 250px;
  color: #ffffff;
}
/* p blue */
.services-item-blue .services-description {
  margin: 0 auto;
  width: 220px;
  color: #ffffff;
}
/* Конец городу и мосту */
/* Жилье, еда, сувениры h4*/
.headlines {
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 250px;
  margin: 0 auto 20px;
}

/* стилизую все <p> разом */
.services-detail .services-description {
  font-weight: 400;
  width: 250px;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
}

.services-item-three .services-description {
  font-weight: 400;
  width: 250px;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
}
.services-item-three .services-title {
  width: 400px;
  margin: 0 auto 29px;
}
.services-item-three .services-name {
  display: block;
  margin: 0 auto 30px;
  width: 250px;
}
/* стилизую все спаны разом */
.services-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
}
.services-detail {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.wrapper-item {
  padding-top: 97px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 87px;
  width: 400px;
  box-sizing: border-box;
  text-align: center;
}

.services-detail .services-detail-item-2 {
  background-color: #ffffff;
}
.services-detail .services-detail-item-3 {
  background-color: rgba(131, 179, 211, 0.12);
}
.services-item-6 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 400px;
  margin: 0;
  padding: 0;
  background-color: rgba(131, 179, 211, 0.12);
}
.services-item-7 {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0;
  padding: 0;
  background-color: rgba(131, 179, 211, 0.2);
}
.services-item-8 {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0;
  padding: 0;
  background-color: rgba(131, 179, 211, 0.12);
}
/* Бэкграунды */
.hotel-search {
  text-align: center;
  margin: 0;
  padding-top: 91px;
  padding-bottom: 93px;
  padding-right: 10px;
  padding-left: 10px;
}
.search {
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0px auto 29px auto;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin: 0px auto 71px auto;
}

.button-search {
  background-color: #756257;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  margin: 0px auto 0px auto;
}
.subscribe {
  width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.subscribe-1 {
  background-image: url(../images/backgrounds/background-footer.jpg);
}
.subscribe-2 {
  padding-top: 73px;
  padding-bottom: 141px;
  text-align: center;
}
.subscribe-tag-2 {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  color: black;
  margin-top: 0px;
  margin-bottom: 46px;
}
.subscribe-description-2 {
  font-weight: 400;
  text-align: center;
  font-style: normal;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 46px;
  line-height: 26px;
  color: black;
}
.subscribe-tag {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  margin: 0px auto 29px auto;
}

.subscribe-description {
  font-weight: 400;
  text-align: center;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin: 0px auto 46px auto;
}
.appointment-form {
  width: 800px;
  margin: 0 auto;
}
.appointment-form .button {
  background-color: #83b3d3;
  width: 200px;
}

.page-footer {
  padding: 40px 72px 40px 72px;
  display: flex;
  align-items: center;
}

/* Иконки соц в футере */
/* ОШИБки с свг */
.footer-social-tw {
  background-image: url("../images/icons-logo/icon-twitter.svg");
}
/* ошибка */
.footer-social-fb {
  background-image: url("../images/icons-logo/icon-facebook.svg");
}
/* ошибка */
.footer-social-yb {
  background-image: url("../images/icons-logo/icon-youtube.svg");
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 110px;
  margin: 0;
  padding: 0;
}
.footer-social-item {
  display: flex;
  flex-wrap: wrap;
  min-width: 18px;
  min-height: 18px;
  padding-right: 29px;
}
.logo-link {
}
.footer-logo {
}
.contacts-number {
  display: block;
  width: 720px;
  text-align: center;
  align-items: center;
}
.contact-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}
/* catalog */
.catalog-products {
  flex-wrap: wrap;
}
.catalog-filter-group {
  align-items: center;
  width: 195px;
  border: 0px;
  margin-right: 67px;
  padding-left: 0px;
  padding-right: 0px;
}
.catalog-filter-group:nth-child(2) {
  margin-right: 110px;
}
.catalog-filter-list {
  color: #ffffff;
  padding-left: 0px;
  margin-top: 0px;
}
.catalog-sorting {
  width: 1056px;
  margin: 0 auto;
}

.button-table {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
.button-one {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
.button-all {
  width: 48px;
  height: 48px;
}
.catalog-wrapper {
  padding-top: 44px;
  padding-bottom: 56px;
  display: flex;
  align-items: center;
}
.button-select-control {
  display: flex;
  padding-left: 81px;
  height: 48px;
  flex-wrap: wrap;
}
.button-select-control .button-table {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
.button-select-control .button-one {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
.button-select-control .button-all {
  width: 48px;
  height: 48px;
}
.inner-header {
  background-image: url(../images/backgrounds/catalog-background.jpg);
  background-size: 1200px 408px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-bottom: 44px;
  padding-left: 72px;
  padding-right: 72px;
}
.inner-header-name {
  margin-top: 0px;
  margin-bottom: 5px;
  /* padding: 0px 601px 0px 71px; */
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}
.breadcrumbs {
  display: flex;
  margin-top: 0px;
  margin-bottom: 45px;
  color: #ffffff;
  /* padding: 0px 1016px 0px 73px; */
  padding: 0px;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-right: 26px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}
.catalog-filter-item {
  list-style-type: none;
  height: 23px;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 13px;
}
.catalog-filter-item:nth-child(3) {
  margin-bottom: 0px;
}
.catalog-filter-group {
}
.catalog-filter-title {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #ffffff;
  line-height: 26px;
  margin-bottom: 30px;
}

.control-input {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
  line-height: 23px;
}
.button-ok {
  width: 160px;
  height: 48px;
  grid-column: 4 / 5;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83b3d3;
  border-radius: 4px;
  color: #ffffff;
}
.button-reset {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  grid-column: 4 / 5;
  line-height: 23px;
  text-align: center;
  width: 160px;
  height: 23px;
  color: #ffffff;
  background: none;
  border: none;
}
.filter {
  display: flex;
}
.sorting-name {
  min-width: 337px;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 39px;
  margin: 0;
  text-transform: uppercase;
  color: #000000;
}
.price-block {
  width: 294px;
  padding-right: 81px;
}
.price-block input {
  width: 40px;
  border: none;
  outline: none;
  background: none;
}
.price-wrapper {
  width: 287px;
  display: flex;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  width: auto;
}
.price-wrapper label {
  display: inline-block;
  width: 144px;
  height: 48px;
}
.price-block h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}
.sorting-select-control {
  display: flex;
  max-width: 287px;
  max-height: 48px;
  margin-left: 190px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.hotel-card {
  display: flex;
  flex-direction: column;
}
.hotel-card-product {
  display: flex;
  flex-wrap: wrap;
}
.hotel-list {
  display: grid;
  grid-template-columns: 299px 299px 299px;
  column-gap: 18px;
  row-gap: 50px;
  list-style-type: none;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  width: 1056px;
}
.hotel-card-title {
  font-weight: 700;
  min-width: 220px;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 16px;
  line-height: 31px;
  color: #000000;
}
.hotel-card-link {
  text-decoration: none;
}
.hotel-name {
  font-weight: 400;
  width: 133px;
  font-style: normal;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  margin-top: 0px;
  color: #333333;
}
.hotel-price {
  width: 143px;
  margin-bottom: 16px;
  font-weight: 400;
  margin-right: 19px;
  text-align: center;
  font-style: normal;
  font-size: 18px;
  list-style-type: none;
  line-height: 23px;
  color: #333333;
}

.hotel-card-faq {
  background-color: #756257;
  width: 133px;
  height: 37px;
  margin-right: 26px;
  border-radius: 4px;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.hotel-card-favorites {
  background-color: #83b3d3;
  width: 140px;
  border-radius: 4px;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.rating {
  background-color: #f2f2f2;
  width: 160px;
  border-radius: 4px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.blue-star {
  width: 91px;
  height: 17px;
  margin-top: 16px;
  margin-right: 49px;
}
.blue-star-2 {
  width: 68px;
  height: 17px;
  margin-top: 16px;
  margin-right: 72px;
}
/* На две карточки  */
.blue-star-3 {
  width: 43px;
  height: 17px;
  margin-top: 17px;
  margin-right: 97px;
}
/* кнопка */
.button-loading {
  background-color: #83b3d3;
  font-weight: 700;
  font-style: normal;
  width: 620px;
  height: 60px;
  margin: 30px 290px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.pagination-container {
  display: flex;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 73px;
}
.pagination {
  display: flex;
  margin-left: 72px;
  padding: 0;
  list-style-type: none;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  background-color: #83b3d3;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  align-content: center;
  text-align: center;
  text-decoration: none;
}
.pagination-link-1 {
  background-color: #f2f2f2;
  color: #000000;
  text-align: center;
  font-weight: 700;
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  width: 55px;
  height: 55px;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.hotels-list {
  display: flex;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  font-size: 18px;
  line-height: 23px;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!11 */
.sorting-control {
  display: flex;
  margin-left: auto;
  margin-top: 45px;
}
.button {
  display: block;
  height: 20px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}
